
.c-notes{
  width:100%;
}
.c-notes h2,p{
    font-size:100%;
    font-weight:normal;
  }
  .c-notes  ul,li{
    list-style:none;
  }
  .c-notes   ul{
    overflow:visible;
    padding:0;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  }
  .c-notes  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:100%;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  .c-notes  ul li{
    margin-right:20px;
    margin-bottom: 20px;
    float:left;
  }
  .c-notes  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  .c-notes  ul li p{
    font-size:12px;
  }
  .c-notes  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:999999;
  }
  .c-notes  ol{text-align:center;}
  .c-notes  ol li{display:inline;padding-right:1em;}
  .c-notes  ol li a{color:#fff;}

  