<nb-card [nbSpinner]="msgService.loading" nbSpinnerStatus="success">
  <nb-card-body>
    <div class="c-row">
      <div class="c-notes">
        <ul>
          <ng-container *ngFor="let task of taskList">
            <li>
              <a>
                <h2>{{task.title}}</h2>
                <p [innerHTML]="task.description"></p>
                <div class="tool-bar" >
                    <button (click)="editTask(task)">Edit</button>
                  </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nb-card-body>
</nb-card>