
.c-notes{
  width:100%;
}
.c-notes h2,p{
    font-size:100%;
    font-weight:normal;
  }
  .c-notes  ul,li{
    list-style:none;
  }
  .c-notes   ul{
    overflow:visible;
    padding:0;
    display: table;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  }
  .c-notes  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:20em;
    width:400px;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  .c-notes  ul li{
    margin-right:20px;
    margin-bottom: 20px;
    float:left;
  }
  .c-notes  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  .c-notes  ul li p{
    font-size:12px;
    height: calc(100% - 60px);
    overflow-y: scroll;
  }
  .c-notes  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    position:relative;
    content: "";
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -moz-box-shadow: 0 4px 3px 0 rgba(1, 1, 1, 0.08);

  }
  .c-notes  ul li a:hover .tool-bar{
    display: block
  }
  .c-notes  ol{text-align:center;}
  .c-notes  ol li{display:inline;padding-right:1em;}
  .c-notes  ol li a{color:#fff;}

  .tool-bar {
    position: fixed;
    bottom: 5px;
    display: none;
  }
  
  .tool-bar button {
    height: 100%;
    color:#fff;
    border: none;
    background: #109bce;
    border-radius: 5px;
    margin:5px;
    cursor: pointer;
  }
  
