/* You can add global styles to this file, and also import other style files */


.right{
float:right;
}
.left{
    float: left;
}
jw-modal {
    /* modals are hidden by default */
  
    display: none;
  }
.flex-centered{
    margin:auto;
    text-align: center;
}
  
.margin-top-30{
    margin-top: 30px;
}