<alert-message></alert-message>
<nb-card [nbSpinner]="msg.loading" nbSpinnerStatus="success">
    <nb-card-header>
        <div class="c-diary-title">
            <span *ngIf="id <= 0"> Add Diary</span>
            <span *ngIf="id>0"> Update Diary</span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form #form="ngForm" autocomplete="off">
            <div class="form-group">
                <input fullwidth id="diaryTitle" [(ngModel)]="diary.title" name="diaryTitle" nbinput placeholder="Title"
                    class="input-full-width input-md input-rectangle">
            </div>
            <div class="form-group c-datepicker">
                <input [(ngModel)]="diary.createdOn" [disabled]="id>0" [readonly]="id>0"
                 name="diaryDate" [nbDatepicker]="datepicker" nbInput 
                 placeholder="Pick Date"
                    fullwidth required>
                <nb-datepicker #datepicker></nb-datepicker>
            </div>

            <div class="form-group">
                <app-editor></app-editor>
            </div>

        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="c-diary-actions">
            <button *ngIf="id <= 0" nbButton status="success" (click)="addDiary();submitted=true" [disabled]="submitted || !form.valid"
                [class.btn-pulse]="submitted">
                Save Diary
            </button>
            <button *ngIf="id>0" nbButton status="success" (click)="updateDiary();submitted=true" [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">
            Update Diary
        </button>
            <button nbButton status="danger" (click)="reset()">
                Reset
            </button>
        </div>
    </nb-card-footer>
</nb-card>