<nb-card [nbSpinner]="msgService.loading" nbSpinnerStatus="success">
  <nb-card-body>
    <ng-container *ngIf="dairiesList && dairiesList.length>0;else noDiaries">
      <ng-container [ngSwitch]="utility.diaryViewType">
        <ng-container *ngSwitchCase="'Grid'">
          <div class="c-row">
            <ng-container *ngFor="let diary of dairiesList">
              <div class="c-col col-xs-12">
                <div class="card-holder">
                  <div class="instructions paper">
                    <span class="edit">
                      <a [routerLink]="['/user/diary/add', diary.pageNo]"><i class="far fa-edit"></i></a>
                    </span>
                    <div class="header">
                      {{diary.createdOn | date:'MMM dd, yyyy'}}
                    </div>
                    <p>
                      {{diary.title}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'List'">
          <!-- <ng2-smart-table [settings]="settings" [source]="tableData"></ng2-smart-table> -->
          <table id="ntable">
            <thead>
              <ng-container *ngFor="let col of columns">
                <th>{{col.header}}</th>
              </ng-container>
            </thead>
            <tbody>
              <ng-container *ngFor="let diary of dairiesList">
                <tr>
                  <ng-container *ngFor="let col of columns">
                    <td>
                      <ng-container [ngSwitch]="col.format">
                        <ng-container *ngSwitchCase="'datetime'">
                          {{diary[col.field] | date:'MMM dd, yyyy'}} 
                        </ng-container>
                        <ng-container *ngSwitchCase="'html'">
                            <a [routerLink]="['/user/diary/add', diary.pageNo]" nbButton status="success" size="xsmall">Edit</a>
                            &nbsp;
                            <a nbButton status="success" size="xsmall">View</a>
                          </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{diary[col.field]}}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #noDiaries>
      <alert-message></alert-message>
    </ng-template>
  </nb-card-body>
</nb-card>
<jw-modal id="c-book-view" class="c-imageUploader">
  <div class="c-model-content">
    <div class="c-model-header">
      <h4></h4>
    </div>
    <div class="c-model-body">
      <app-book [isBookView]="isBookView" [dairiesList]="dairiesList">
      </app-book>
      <!-- <div class="book-view" *ngIf="isBookView">
          <div id="book">
              <canvas id="pageflip-canvas"></canvas>
              <div id="pages">
                <ng-container *ngFor="let diary of dairiesList">
                    <section>
                        <div>
                          <span class="right">
                            <h4>{{diary.createdOn|date:'MMM d y'}}</h4>
                          </span>
                          <h2>{{diary.title}}</h2>
                          <p [innerHTML]="diary.body"></p>
                          <b>{{diary.pageNo}}</b>
                        </div>
                      </section>
                </ng-container>
              </div>
            </div>
      </div> -->
    </div>
    <div class="c-model-footer">
      <div class="c-mode-actinbuttons">
        <!-- <button (click)="closeModal('c-book-view');" class="btn btn-default">Close</button> -->
        <!-- <button (click)="setImages()" class="btn  c-btn">Ok</button>
   -->
      </div>
    </div>
  </div>
</jw-modal>