<nb-alert *ngIf="messageService.get().display 
&& messageService.get().valid==false
&& messageService.get().messages?.length > 0"
  outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of messageService.get().messages" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="messageService.get().valid == true && messageService.get().messages?.length && messageService.get().display==true"
  outline="success" role="alert">
  <p class="alert-title"><b>Success!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messageService.get().messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>